<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note_Taking_App</title>
    <style>
        body{
            background: rgb(174, 238, 238);
        }
    </style>
</head>
<body>
    <h1 align="center">NOTEPAD</h1>
    <form action="{{url_for('index')}} "method="post">
        <input type="text" name="note" placeholder="Enter a note">
        <button>Add Note</button>
    </form>
    <h1>Notes</h1>
    <ul>
    {% for note in notes%}
        <li>{{ note }}</li>
    {% endfor %}
    </ul>

    <form action="/clear" method="post">
        <button class="clear_button">Clear history</button>
    </form>

</form></body>
</html>